{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block head %}
    <head>
        <meta charset="utf-8">
        <title>Jyotirling Industries | Steel Furniture</title>
    {% load static %}<link rel="stylesheet" type="text/css"  href="{% static 'style2.css' %}">
    </head>
{% endblock head %}

{% block body %}


<div class='row'>
    <div class="col-md-4 mx-5 my-5 py-5" style='background-color:#C5C6D0; border: 2px solid white; border-radius: 10px;'>
        <div class="col-md-11" style="float: left;">
        <h1 class="display-5 fw-bold lh-1 mb-3 mx-4">About us</h1>
        <p class="lead mx-4 fw-bold">We are a team of engineering students specializing in machine learning and deep learning. Our 
            focus is on developing projects that make a positive impact on the community. Our work ranges from 
            creating predictive models for healthcare to image recognition systems for security purposes.
            <br><br>
            Our team is passionate about using our skills to develop projects that make a positive impact on 
            society. We believe in the power of technology to improve people's lives, and we are committed to 
            creating innovative solutions that address real-world problems.
            <br>
            Through our hard work and dedication, we have been able to create several machine learning projects 
            that have provided valuable insights to the community. We hope to continue developing innovative 
            projects that have a positive impact, and we greatly appreciate any support you can provide us. 
            Thank you!</p>
            {% comment %} <div class="d-grid gap-2 d-md-flex justify-content-md-start mx-4">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div> {% endcomment %}
        </div>
    </div>

    <div class="col-md-6 py-5 mx-5" style='background-color:#FAD8AA;'>
     
    
    <div class="Nishant col-md-10" style='margin-top:0px;'>
            <div class="card">
                <div class="imgbox">
                    <img src="/static/img/me.jpg" alt="">
                </div>
                <div class="details">
                    <div class="content">
                        <h3><b>Nishant<br>Deshmukh</b></h3>
                        <p class='mx-2'>GDSC UI/UX Lead'22 🧑🏻‍💻 | Intern @GeeksforGeeks | Python | ML | Data Science | AI | UI/UX Designer</p>
                        <div class="social-icons">
                            <a class='mx-2' href="https://www.linkedin.com/in/nishant-deshmukh-1a3836185/" target='_blank'><img src="/static/img/linkedin.png" alt=""></a>
                            <a class='mx-2' href="https://github.com/Nishant2116" target='_blank'><img src="/static/img/github.png" alt=""></a>
                            <a class='mx-2' href="https://www.instagram.com/_nd_216/" target='_blank'><img src="/static/img/insta.png" alt=""></a>
                            <a class='mx-2' href="#" target='_blank'><img src="/static/img/twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% comment %} <div class='row align-items-md-stretch'>
    <div class="Nishant col-md-5">
        <div class="card">
            <div class="imgbox">
                <img src="/static/img/me.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h3><b>Nishant<br>Deshmukh</b></h3>
                    <p>GDSC UI/UX Lead'22 🧑🏻‍💻 | Intern @GeeksforGeeks | Python | ML | Data Science | AI | UI/UX Designer</p>
                    <div class="social-icons">
                        <a href="#"><img src="/static/img/linkedin.png" alt=""></a>
                        <a href="#"><img src="/static/img/github.png" alt=""></a>
                        <a href="#"><img src="/static/img/insta.png" alt=""></a>
                        <a href="#"><img src="/static/img/twitter.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> {% endcomment %}












{% endblock body %}

